<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String Length Counter</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    <!--{% from datetime import datetime %}-->
</head>
<body>
    <div id="container">
        <div id="main">
            <!--<p>Hello, world</p>-->
            <!--<p>{{datetime.now()}}</p>-->
            <form method="post" action="/">
                <textarea name="body" cols="40" row="4"></textarea>
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>